.history-spectrogram-img {
    width: 100%;
    filter: invert(1) hue-rotate(180deg) brightness(.75);
}

.fella-list-item, .fella-list-item * {
    overflow: hidden;
}

@media (max-width: 900px) {
    #panes {
        grid-template-columns: 1fr !important;
    }

    header {
        grid-template-columns: 1fr max-content !important;
    }

    #panes > div {
        order: 0 !important;
    }

    main.container {
        margin-top: 12px !important;
    }

    #preview {
        max-width: 128px !important;
    }

    textarea {
        height: 10vh !important;
    }

    .history-item {
        grid-template-columns: 1fr !important;
        height: max-content !important;
    }

    .history-spectrogram {
        display: none !important;
    }
}
